.image-input {
  width: 120px;
  height: 120px;
  position: relative;
  border-style: dotted;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;

  input[type="file"] {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
  }

  &:hover {
    color: $primary-color-dark;
  }

  img {
    position: absolute;
  }

  .img-preview {
    position: absolute;
    width: 110px;
    height: 110px;
  }
}