{% extends 'layout.html.twig' %}

{% block main %}
    <header class="header">
        <h2 class="header__title">Groups</h2>
        <a href="{{ path('group_create') }}" class="waves-effect waves-light btn">
            <i class="material-icons right">person</i> Add group
        </a>
    </header>
    <section class="groups-list-wrapper">
        <ul class="groups-list">
        {% for group in groups %}
                <li class="groups-list__item">
                    <figure class="groups-list__item__image">
                    </figure>
                    <span class="groups-list__item__name">{{ group }}</span>
                    <a href="{{ path('group_update', {id: group.id }) }}">Edit</a>
                </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}