{% extends 'base.html.twig' %}

{% block body %}

    {% include('_partials/_nav.html.twig') %}

    <div class="container">
    <main>
            {% block main %}
            {% endblock %}
    </main>
    </div>
{% endblock %}