{% extends 'base.html.twig' %}

{% block body %}

    {% include('_partials/_nav.html.twig') %}

    <main>
        <div class="container">
            {% block main %}
            {% endblock %}
        </div>
    </main>
{% endblock %}