<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>Hello {{ user }}</h3>
<p>
    You have registered at Zero PASSword Knowledge. <a href="{{ url }}">Click here</a> to activate your account.
</p>
<p>If you have not registered, ignore this message or contact zPASSk administrator.</p>
<small>{{ url }}</small>
</body>
</html>
