<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h3>Hello {{ user }}</h3>
    <p>
        Password recovery has been requested in Zero PASSword Knowledge. <a href="{{ url }}">Click here</a> for change your password.
    </p>
    <p>If you have not made this request contact an administrator.</p>
    <small>{{ url }}</small>
</body>
</html>
